body {
  position: relative;
  margin: 0px;
  padding-left: 32px;
  box-sizing: border-box;
  background-color: #0d1117;
  color: white;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
}
/*Logic for using body::before is that if we directtly add the image to body and set the opcatiy then every element in the body gets set to opacity 0.55*/
body::before {
  content: "";
  position: fixed; /* Stays in place when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* YOUR LOCAL IMAGE HERE */
  background-image: url("images/c58d078a-856c-4aed-9ff9-0bf536e245f2.jpg"); /* <--- Check this path! */
  background-size: cover;
  background-position: center;

  /* THE TRANSPARENCY MAGIC */
  opacity: 0.45;

  /* Put it behind the text */
  z-index: -2;
}
.title {
  padding-left: 2px;
  padding-bottom: 3px;
  margin-top: 10px;
  font-family: "Pacifico", cursive; /* The handwriting font */
  font-size: 25px; /* Make it big */
}
.block-text {
  display: block;
}
.highlight,
.title {
  /* The Gradient Color (Pink to Purple) */
  background: linear-gradient(
    to right,
    #ec4899,
    #a855f7
  ); /* Tailwind pink-500 to purple-500 */

  /* The Magic: Make the background appear ONLY where the text is */
  -webkit-background-clip: text;
  background-clip: text;

  /* Hide the actual text color so the gradient shows through */
  color: transparent;

  /* The Glow Effect */
  /* We use multiple shadows to build up a bright glow */
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.5),
    /* Soft wide purple */ 0 0 20px rgba(236, 72, 153, 0.3); /* Soft wide pink */

  font-weight: bold;
}
.searchText {
  margin-top: 80px;
  font-size: 1.5rem;
}
.searchBox {
  position: relative;
  width: 90%;
  max-width: 450px;
  z-index: 10;
}
input {
  height: 80px;
  width: 100%;
  padding: 20px;
  padding-right: 100px;
  border-radius: 10px;
  background-color: #000;
  color: white;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: inset 0 0 10px rgba(168, 85, 247, 0.3); /*x offset y-offset blur color*/
}
.searchBox input:hover {
  box-shadow: 0 0 10px rgba(168, 85, 247, 0.4);
}
.searchBox button {
  height: 40px;
  position: absolute;
  right: 20px;
  bottom: 22px;
  background-color: #a855f7;
  border: none;
  color: white;
  padding: 0 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.octocat-container {
  position: fixed;
  z-index: 1;
  bottom: -20px;
  right: -20px;
}
.octocat-container img {
  position: static;
  width: 450px;
  align-self: flex-end;
  max-width: 100%;
}

@media screen and (max-width: 1045px) {
  .octocat-container img {
    width: 30vw;
    max-width: 450px;
    min-width: 280px;
  }
}
@media screen and (min-width: 520px) and (max-width: 788px) {
  .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 380px) and (max-width: 519px) {
  .title {
    font-size: 15px;
  }
  .searchText {
    font-size: 1.3rem;
  }
  .searchBox {
    width: 350px;
  }
}
@media screen and (min-width: 0px) and (max-width: 379.99px) {
  .title {
    font-size: 15px;
  }
  .searchText {
    font-size: 1.2rem;
  }
  .searchBox {
    width: 300px;
  }
}

.mainProfile {
  position: relative;
  padding: 20px;
  height: 420px;
  width: 450px;
  border-radius: 15px;
  background-color: #000;
  box-shadow: 0 0 10px rgba(228, 50, 255, 0.4);
}
.profileImg {
  width: 100px;
  height: 100px;
  background-color: beige;
  border-radius: 100px;
  overflow: hidden;
}
.username {
  position: absolute;
  left: 150px;
  top: 50px;
  font-size: 20px;
  font-family: sans-serif;
  color: #ec4899;
}
.realname {
  position: absolute;
  left: 150px;
  top: 7px;
  font-size: 25px;
  font-family: sans-serif;
}
.userBio {
  width: 380px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 4px 12px rgba(124, 124, 124, 0.541);
  position: absolute;
  left: 35px;
  top: 150px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
}
.userRepo {
  position: absolute;
  bottom: 70px;
  width: 100px;
  height: 100px;
}
.userFollowers {
  position: absolute;
  bottom: 70px;
  left: 195px;
  width: 100px;
  height: 100px;
}

p {
  position: absolute;
  left: 10px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
b {
  position: absolute;
  bottom: 6px;
  right: 20px;
  font-size: 30px;
}
.followers-icon {
  position: absolute;
  bottom: 10px;
  left: 8px;
  width: 30px;
  height: 30px;
}
.following-icon {
  position: absolute;
  bottom: 10px;
  left: 8px;
  width: 30px;
  height: 30px;
}
.repo-icon {
  position: absolute;
  bottom: 10px;
  left: 8px;
  width: 30px;
  height: 30px;
}
.userFollowing {
  position: absolute;
  bottom: 70px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.profileImg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 460px) and (max-width: 565px) {
  .mainProfile {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 0px) and (max-width: 459.99px) {
  .mainProfile {
    width: 250px;
    height: 250px;
  }
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.backToHome{
  display: flex;
  position: absolute;
  left:210px;
  bottom: 100px;
}
.backToHomeBtn{
  background-color: #ec4899;
  color: aliceblue;
  height: 50px;
  width: 150px;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}